.asade
{
          background-color: #fff;
          margin: 10px;
          display: flex; 
          margin-top: 30px; 
          width: 100%;
}

.left-bar
{
       display: flex;
       align-items: flex-end;
       
}

.left-jpg
{
         padding-right: 30px;
         
}


.mid-jpg
{
          align-self: flex-start;
         
}

.mid-jpg h3
{
          font-size: 40px;
          line-height: 50px;
          padding-top: 40px;
          color: #112e41;
          font-family: Poppins,sans-serif;
          font-weight: 700;
}

.right-bar
{         
       display: inline-block;
       align-items: flex-end;
       padding: 60px;
}

.right-bar span 
{
          color: #ff7214;
          display: block;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.4px;
          text-transform: uppercase;
          position: relative;
          font-family: 'Roboto', sans-serif;
          margin-bottom: 15px;
}

.right-bar h2
{
          color: #112e41;
          font-family: Poppins,sans-serif;
          font-weight: 700;  
          font-size: 42px;
          /* line-height: 50px; */
          margin-bottom: 20px;
}

.right-bar h5
{
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          margin-bottom: 30px;   
          color: #112e41;
          font-family: Poppins,sans-serif;       
}

.right-bar p
{
          color: #6c6c6f;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          margin-bottom: 40px;
}

.right-bar button
{
          margin: 0;
          padding: 17px 40px;
          text-transform: capitalize;
          transition: all 0.2s ease-in-out;

}