
.icon-lock:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-eject-alt-outline:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */