/* .half-pic
{
          position: relative;
}




.right-picture 
{
       position: absolute;
       right:15px;
} */


.features-list {
       display:flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-wrap:wrap;
}

.feature {
       width:25%;
}
@media (max-width: 1200px) {
       .feature {
              width: 50%;
       }
}

@media (max-width: 768px) {
       .feature {
              width: 100%
       }
}